@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

:root {
  --font-family: Quicksand;

  --gradient-text: linear-gradient(89.97deg, #140533 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ded5e7 -13.86%, #f49867 99.55%);

  --color-bg: #ffffff;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #07294c;
  --color-subtext: #ff8a71;
}
